.main {
    border: 2px solid;
    background-color: #333;
    opacity: 0.7;
    height: 99vh;
    position: relative;
}

.container {
    position: absolute;
    top: 30px;
    left
    border: 2px solid #fff;
    width: 450px;
}
