.main {
    height: 99vh;
    position: relative;
    background-color: #333;
}

.container {
    position: absolute;
    top: 30px;
    left: 35%;
    width: 450px;
    background-color: #fff;
}
.container .part1 {
    border: 1px solid lightgrey;
    padding: 10px 20px;
}
