.main {
    height: 99vh;
    position: relative;
    background-color: #333;
}

.container {
    position: absolute;
    top: 30px;
    left: 35%;
    width: 550px;
    padding: 10px 20px;
    background-color: #fff;
}
.container .part1 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.container .part2 p {
    font-size: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}
.container .part3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.container .part3 input {
    padding: 8px 15px;
    color: #fff;
    border: none;
    background-color:crimson;
    font-weight: 600;
    letter-spacing: 0.5px;

}